[submodule "vendor/crow"]
	path = vendor/crow
	url = https://github.com/CrowCpp/Crow
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
